$color-dark-blue: rgb(7, 71, 166);
$color-middle-blue: rgb(70, 110, 171);
$color-light-blue: rgba(110, 154, 253, 0.38);
$color-transparent-blue: rgba(70, 110, 171, 0.10);
$color-transparent-middle-blue: rgba(70, 110, 171, 0.20);
$color-transparent-dark-blue: rgba(141, 176, 255, 0.17);
$color-light-gray:  rgba(0, 0, 0, 0.21);
$color-transparent-gray: rgba(0, 0, 0, 0.58);
$color-dark-gray: rgba(0, 0, 0, 0.80);
$color-red: rgb(255, 92, 92);
$color-light-green: rgba(32, 247, 98, 0.16);
$color-light-orange: rgba(247, 211, 32, 0.16);
$color-green: rgb(132,243,124);
$color-gray: rgb(119,119,147);
$color-transparent-light-blue : rgba(7, 71, 166, 0.3);
$color-white: rgb(255,255,255);
