@import 'colors';
@import 'theme';


@mixin transform($rotate) {
  -webkit-transform: rotate($rotate);
     -moz-transform: rotate($rotate);
      -ms-transform: rotate($rotate);
          transform: rotate($rotate);
}

@mixin icon-style($image, $height: 20px, $width: 20px,
                  $background-size: contain,  $display: block){
       background-image: $image;
       background-size: $background-size;
       height: $height;
       width: $width;
       display: $display;
}


@mixin link-style($border-radius: 5%, $font-size: 15px, $margin-top: 20px,
                  $border: 0, $background-color: $color-must-link){

        border-radius: $border-radius;
        font-size: $font-size;
        margin-top: $margin-top;
        border: $border;
        background-color: $background-color;

        &:hover {
           transform: scale(1.1);
        }
}