@import 'theme';
@import 'mixins';


.profile {
    &__icon {
      @include icon-style($image: url('/static/media/user-icon.png'));
  }
}

.blackout {
   display: flex;
}

.error {
    color: $color-error;
    display: block;
    font-size: 15px;
    width: auto;
}

.link {
    text-decoration: none;
    color: $color-link;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 18px;

    &:hover{
      color: $color-hover-link;
    }
}

.continue-link {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    color:$color-continue-link;
    text-decoration: none;

    &:hover {
        color: $color-hover-continue-link;
    }
}
