$color-light-blue: rgb(70, 110, 171);
$color-transparent-gray: rgb(119, 119, 147);

.profile {
    &__icon {
      background-image: url('/static/media/user-icon.png');
      background-size: contain;
      height: 20px;
      width: 20px;
      display: block;
  }
}

.error {
    color: red;
}

.blackout {
      display: block;
}


.login-form {
    height: 35%;
    width: 15%;
}

.registration-form {
    height:60%;
    min-height: 550px;

}


.link {
    text-decoration: none;
    color: $color-transparent-gray;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 18px;

    &:hover{
      color: $color-light-blue;
    }
}
