@import 'theme';


.game-article  {
    padding: 20px;

    &__header {
      font-size: 25px;
      display: inline;
      font-weight: bold;
    }

    &__description {
      margin-top: 20px;
      font-weight: bold;
    }

    &__toast {
        display: inline-block;

    }
}

.screen-img {
  max-width: 100%;
  height: auto;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.game-description {
  display: flex;
  flex-wrap: wrap;

  &__section {
    padding-right: 20px;
    min-width: 180px;
    flex: 1;
  }

  &__title {
     font-size: 20px;
     font-weight: bold;
     margin-top: 20px;
     margin-bottom: 20px;
  }

  &__rating {
    padding: 8px;
    padding-top: 5px;
    background: $color-users-rating;
    border-radius: 5%;
    margin-bottom: 5px;
  }

  &__title_right {
    float: right;
    max-width: 40%;
    margin-top: 3px;
    overflow: hidden;
  }

  &__views {
    float: right;
  }

  &__tweets {
     max-height: 800px;
     overflow: auto;
  }
}

.main-game-section {
  flex: 3;
  min-width: 350px;
}

.critics-rating {
  background: $color-critics-rating;
}

.toast {
  padding: 8px;
  padding-top: 5px;
  margin-bottom:10px;
  background: $color-toast;
  border-radius: 5%;
  display: inline-block;
}


.tweet {
  background: $color-tweets;
  border-radius: 2%;
  padding: 10px;
  margin-bottom: 10px;

  &__title {
    font-size: 12px;
    &:hover {
      color: $color-message-box;
    }
  }

  &__text {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width : 320px) {

    .main-game-section {
        min-width: 150px;
    }

    .game-article {
        padding: 0;
    }

    .game-description__section {
        min-width: 150px;
    }
}