@import 'theme';

.range {
  display: block;
  -webkit-appearance: none;
  background-color: $color-form-field;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 10px;
  outline: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $color-input;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid $color-text;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
}


.filter {
  width: 30%;
  height: 50%;
}

.select {
  display: flex;
  flex-wrap: wrap;

  &__text {
    margin-left: 30px;
    overflow: hidden;
  }

  &__label {
    cursor: pointer;
    width: auto;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    display: block;

    &:hover .select__svg {
      stroke: $color-input;
    }

    &:before {
      content: "";
      border-radius: 50%;
      background: $color-input;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__container {
    display: flex;
    text-align: left;
    width: 100px;
    margin: 8px;
  }

  &__svg {
    position: absolute;
    left: 0;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }

  &__path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }

  &__polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }

  &__field{
    &:checked {
      & + .select__label .select__svg {
        stroke: $color-input;
      }

      & + .select__path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
      }

      & + .select__label .select__svg .select__polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
      }
    }
  }
}
