@import 'reset';
@import 'theme';
@import 'mixins';
$font-style: 'Source Sans Pro', sans-serif;

body {
    font-family: $font-style;
}

header {
  background: $color-header-background;
  padding: 5px;
}

main {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.logo {
  color: $color-header;
  font-size: 30px;
  display: table-caption;
  width: 210px;
}

.icon {
    @include icon-style($image: url('/static/media/icon.png'), $width: 40px,
                        $height: 40px, $display: inline-block);
}

.username {
    color: $color-header;
    font-size: 15px;
    position: absolute;
    right: 2%;
    margin-top: 15px;
    margin-right: 20px;
    display: inline;
    opacity: 0.7;
}

.profile-circle {
    background: $color-form-icon;
    border-radius: 50%;
    padding: 10px;
    padding-top: 5px;
    position: absolute;
    right: 10px;
    display: block;
}

.profile__icon {
    @include icon-style($image: url('/static/media/user-icon.png'));
}

.unstyled-link {
  text-decoration: none;
}


.filter-container {
    align-items: center;
    text-align: center;

    &__icon {
      @include icon-style($image: url('/static/media/filter-icon.png'), $width: 30px,
                        $height: 30px, $display: inline-block);
      position: absolute;
      left: 77%;
    }
}

.search-field {
    border: 0;
    border-bottom: 2px solid $color-font;
    text-align: center;
    font-size: 20px;
    display: inline-block;
}


.link {
    text-decoration: none;
    color: $color-link;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 18px;

    &:hover {
      color: $color-main-link;
    }
}

.unstyled {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.message-box {
    position: fixed;
    background: $color-message-box;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    color: $color-modal-window;
    font-family:  $font-style, cursive;
    opacity: 0.8;
    border-radius: 5%;
}

.error {
    color: $color-error;
    padding-top: 10px;
}

.message {
    background: $color-menu-item;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;

    &__text {
        font-size: 25px;
        color: $color-menu-item-text;
        margin-top: 10%;
        text-align: center;
        padding: 15px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}


.search-icon {
    @include icon-style($image: url('/static/media/search-icon.png'), $width: 25px,
                        $height: 25px, $display: inline-block);
}

.hidden {
    display: none;
}

.article-header {
    font-size: 25px;
}

@media only screen and (max-width : 1824px) {
    .username {
        right: 3%;
    }

}


@media only screen and (max-width : 1224px) {

    main {
        width: 90%;
    }

     .username {
        right: 5%;
    }

}

@media only screen and (max-width : 890px) {
    main {
        width: 100%;
    }

    .username {
        right: 7%;
    }
}


@media only screen and (max-width : 480px)  {
    main {
        width: 100%;
    }

    .username {
        right: 10%;
    }
}


@media only screen and (max-width : 320px) {

    main {
        width: 100%;
    }

    .logo {
        font-size: 25px;
        padding-top: 10px;
    }

     .username {
        right: 13%;
    }

    .icon {
        display: none;
    }
}
