@import 'reset';

$color-dark-blue: rgb(7, 71, 166);
$color-middle-blue: rgb(70, 110, 171);
$color-transparent-blue: rgba(70, 110, 171, 0.10);
$color-transparent-middle-blue: rgba(70, 110, 171, 0.20);
$color-dark-gray: rgba(0, 0, 0, 0.74);
$color-red: rgb(255, 92, 92);
$color-green: rgb(132,243,124);
$color-gray: rgb(119,119,147);
$color-transparent-light-blue : rgba(7, 71, 166, 0.3);

$font-style: 'Source Sans Pro', sans-serif;

body {
    font-family: $font-style;
}

header {
  background: $color-dark-blue;
  padding: 5px;
}

main {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.logo {
  color: white;
  font-size: 30px;
  display: table-caption;
  width: 210px;
}

.icon {
     background-image: url('/static/media/icon.png');
     background-size: contain;
     height: 40px;
     width: 40px;
     display: inline-block;
}

.username {
    color: white;
    font-size: 15px;
    position: absolute;
    right: 2%;
    margin-top: 15px;
    margin-right: 20px;
    display: inline;
    opacity: 0.7;
}

.profile-circle {
    background: $color-middle-blue;
    border-radius: 50%;
    padding: 10px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    display: block;
}

.profile__icon {
    background-image: url('/static/media/user-icon.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    display: block;
}

.unstyled-link {
  text-decoration: none;
}


.filter-container {
    align-items: center;
    text-align: center;

    &__icon {
      background-image: url('/static/media/filter-icon.png');
      background-size: contain;
      height: 30px;
      width: 30px;
      display: inline-block;
      position: absolute;
      left: 77%;
    }
}

.search-field {
    border: 0;
    border-bottom: 2px solid $color-dark-blue;
    text-align: center;
    font-size: 20px;
    display: inline-block;
}


.link {
    text-decoration: none;
    color: $color-gray;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 18px;

    &:hover {
      color: $color-middle-blue;
    }
}


.unstyled {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.message-box {
    position: fixed;
    background: $color-dark-blue;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    color: white;
    font-family:  $font-style, cursive;
    opacity: 0.8;
    border-radius: 5%;
}

.error {
    color: red;
    padding-top: 10px;
}


.search-icon {
    background: url('/static/media/search-icon.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.hidden {
    display: none;
}


.article-header {
    font-size: 25px;
}

@media only screen and (max-width : 1824px) {
    .username {
        right: 4%;
    }

}

@media only screen and (max-width : 1224px) {

    main {
        width: 90%;
    }

     .username {
        right: 5%;
    }

}

@media only screen and (max-width : 890px) {
    main {
        width: 100%;
    }

    .username {
        right: 7%;
    }
}


@media only screen and (max-width : 480px)  {
    main {
        width: 100%;
    }
}

@media only screen and (max-width : 321px)  {
    main {
        width: 100%;
    }

}

@media only screen and (max-width : 320px) {

    main {
        width: 100%;
    }

    .logo {
        font-size: 25px;
    }
}


