$color-light-blue: rgb(110, 154, 253);
$color-middle-blue: rgb(70, 110, 171);
$color-dark-blue: rgb(7, 71, 166);
$color-darkest-blue: rgb(141, 176, 255);

$color-transparent-lightest-blue: fade-out($color-dark-blue, 0.9);
$color-transparent-light-blue : fade-out($color-dark-blue, 0.8);
$color-transparent-blue: fade-out($color-middle-blue, 0.10);
$color-transparent-middle-blue: fade-out($color-middle-blue, 0.20);

$color-gray: rgb(119,119,147);
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);

$color-transparent-gray: fade-out($color-black, 0.42);
$color-light-gray: fade-out($color-black, 0.80);
$color-dark-gray: fade-out($color-black, 0.20);

$color-light-green: rgb(32, 247, 98);
$color-green: rgb(132,243,124);

$color-transparent-light-green: fade-out($color-light-green, 0.84);
$color-transparent-green: fade-out($color-green, 0.4);

$color-light-orange: rgb(247, 211, 32);
$color-red: rgb(255, 92, 92);

$color-transparent-orange: fade-out($color-light-orange, 0.84);
$color-transparent-red: fade-out($color-red, 0.4);
