@import 'colors';

$color-error: $color-red;
$color-critics-rating: $color-transparent-orange;
$color-users-rating: $color-transparent-light-green;
$color-toast: $color-transparent-light-blue;
$color-tweets: $color-transparent-lightest-blue;

$color-link: $color-gray;
$color-hover-link: $color-middle-blue;
$color-bookmark: $color-transparent-light-blue;
$color-hover-bookmark: $color-transparent-middle-blue;
$color-selectbox-item: $color-transparent-middle-blue;

$color-remust-link: $color-transparent-green;
$color-must-link: $color-transparent-red;
$color-game-must: $color-middle-blue;
$color-game-body: $color-dark-gray;

$color-menu-item: $color-transparent-lightest-blue;
$color-menu-hover-item: $color-transparent-light-blue;
$color-menu-item-text: $color-dark-gray;
$color-menu-container: $color-white;
$color-menu-background: $color-dark-blue;

$color-submit-button: $color-middle-blue;
$color-hover-submit-button: $color-dark-blue;
$color-form-icon: $color-middle-blue;
$color-form-field: $color-light-gray;
$color-modal-window: $color-white;
$color-blackout: $color-transparent-gray;

$color-message-box: $color-dark-blue;
$color-main-link: $color-middle-blue;
$color-font: $color-dark-blue;
$color-header: $color-white;
$color-header-background: $color-dark-blue;

$color-continue-link: $color-white;
$color-hover-continue-link: $color-light-blue;
$color-text: $color-white;

$color-input: $color-light-blue;