<div class="blackout" id="profile-modal">
    <div class="modal-window profile-form">
        <div class="profile-circle form__icon">
            <i class="profile__icon"></i>
        </div>
        <a href="#" class="close" name="close">
            <i class="close__icon"></i>
        </a>
        <p class="error" name="errors">
        </p>
        <form name="profile-form" method="post" id="profile">
            {% csrf_token %}
            <div class="form__field-group">
                <div class="form__field-container">
                    <input id="profile-username" name="username" class="form__field" placeholder="Username..." value="{{ user.username }}" disabled/>
                </div>
                <div class="form__field-container">
                    <input id="profile-email" name="email" class="form__field" type="email" placeholder="Email..." value="{{ user.email }}" disabled/>
                </div>
                <div class="form__field-container">
                    <input id="profile-first-name" name="first_name" class="form__field" placeholder="First name..." value="{{ user.first_name }}" disabled/>
                </div>
                <div class="form__field-container">
                    <input id="profile-last-name" name="last_name" class="form__field" placeholder="Last name..." value="{{ user.last_name }}" disabled/>
                </div>
            </div>
        </form>
    </div>
</div>