.game-article  {
    padding: 20px;
}

.game-article__header {
  font-size: 25px;
  display: inline;
  font-weight: bold;
}

.game-article__description {
  margin-top: 20px;
  font-weight: bold;
}

.game-article__toast {
  padding: 5px;
  background: rgba(110, 154, 253, 0.38);
  border-radius: 10%;
  margin-left: 15px;
}

.screen-img {
  max-width: 100%;
  height: auto;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.game-description {
  display: flex;
  flex-wrap: wrap;
}

.game-description__section {
  padding-right: 20px;
  min-width: 180px;
  flex: 1;
}

.game-description__title {
   font-size: 20px;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 20px;
}

.game-description__rating {
  padding: 8px;
  padding-top: 5px;
  padding-top: 5px;
  background: rgba(32, 247, 98, 0.16);
  border-radius: 5%;
  margin-bottom: 5px;
}

.game-description__title_right {
  float: right;
}

.main-game-section {
  flex: 3;
  min-width: 350px;
}

.critics-rating {
  background: rgba(247, 211, 32, 0.16);
}

.toast {
  padding: 8px;
  padding-top: 5px;
  padding-top: 5px;
  background: rgba(110, 154, 253, 0.38);
  border-radius: 10%;
}

.tweet {
  background: rgba(141, 176, 255, 0.17);
  border-radius: 2%;
  padding: 10px;
  margin-bottom: 10px;
}

.tweet__title {
  font-size: 12px;
}

.tweet__title:hover {
  color: rgb(7, 71, 166);
}

.tweet__text {
  margin-bottom: 10px;
}

@media only screen and (max-width : 320px) {

    .main-game-section {
        min-width: 150px;
    }

    .game-article {
        padding: 0;
    }

    .game-description__section {
        min-width: 150px;
    }
}
